---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Import Markdown as a component
import AboutContent from '../content/about.md';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`About — ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<AboutContent />
		</main>
		<Footer />
	</body>
</html>
